.order-container {
  padding: 20px 0;
  h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
  .order-list {
    width: 900px;
    margin: auto;
    .order-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // display: grid;
      // grid-template-columns: repeat(5, 1fr);
      // justify-items: center;

      border: 1px solid rgb(199, 199, 199);
      padding: 15px 20px;
      .count {
        span {
          font-size: 18px;
        }
      }
      .item-name {
        h3 {
          font-size: 18px;
          width: 400px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .item-price {
        span {
          font-size: 18px;
          padding: 0 10px;
        }
      }

      .change-count {
        font-size: 20px;
        display: flex;
        div {
          border: 1px solid black;
          padding: 0px 15px;
        }
        div:nth-child(2) {
          border-left: none;
          border-right: none;
        }
        div:nth-child(odd) {
          &:hover span {
            transform: scale(1.4);
            cursor: pointer;
          }
          span {
            display: block;
            transform: scale(1);
            transition: all ease 0.2s;
          }
        }
      }
      svg {
        font-size: 25px;
        color: red;
        transform: scale(1);
        transition: all ease 0.2s;
        &:hover {
          cursor: pointer;
          transform: scale(1.3);
        }
      }
    }

    .sum {
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        text-align: left;
        padding-right: 100px;
      }
    }
  }
}
